  <div class="jumbotron">
    <h2>Welcome to Recipe Generator</h2>
    <p class="lead">Search for recipes, create your own, and make delicious food</p>
      <div class="input-group">
        <input id="searchfield" type="text" class="form-control" placeholder="Recipes one click away…">
        <span class="input-group-btn">
          <button id="search" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>&nbsp;Search</button>
        </span>
      </div>
  </div>

  <div id="result" class="row marketing">
  </div>


