<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div>
  <h2>Delete Recipe</h2>

  <%= form_for(:recipes, :url => {:controller => 'recipes', :action => 'destroy'}) do |f| %>

    <p>Are you sure you want to permanently delete this recipe?</p>

    <p class="reference-name"><%= @recipes.recipeName %></p>

    <div class="form-buttons">
      <%= submit_tag("Delete Recipe") %>
    </div>

  <% end %>
</div>

