<% @pid = @users.id%>
<% if !flash[:notice].blank? %>
          <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %>

<div class="Recipes show">
  <h2>Your Recipe</h2>

  <table summary="Recipe detail view">
    <tr>
      <th>Name</th>
      <td><%= @recipes.recipeName %></td>
    </tr>
    <tr>
      <th>Description</th>
      <td><%= @recipes.recipeDescription %></td>
    </tr>
    <tr>
  </table>

</div>

